 body{

    font-family: "Orbitron", sans-serif;  
    text-align: center;
    color: #00293Eff;
    font-weight: bold;
    margin: 0;
    background-image: url("./nasa-Yj1M5riCKk4-unsplash.jpg");
    background-size: cover;
    padding: 10px 0 40px 0;
 }

h3{
    color: white;
}


#logo{
    
    width: 100px;
    margin-top: 30px;

}
 .word{
    border-bottom: 4px solid #00293Eff;;
 }

 .btm{
    padding: 6px 12px;
    background-color: #00293Eff;;
    font: bolder;
    color: black;
    font-family: "Orbitron", sans-serif;  
 }